body {
    text-align: center;
}

#recipe-title {
    display: inline-block;
}

label {
    font-size: 16px;
}

.recipe-container {
    width: 80%;
    display: block;
    border: 1px dotted rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.recipe-image {
    display: inline-block;
    width: auto;
    height: 300px;
}

#images-slider-container {
    display: block;
    margin: 0 auto;
    width: 400px;
}

.step {
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    text-align: left;
}

.review {
    padding: 10px 0 10px 0;
}

.review-author {
    display: block;
}

.review-body {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}