@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS {
    <link rel="stylesheet" type="text/css" href="/Content/add-recipe.css">
}

<h2 style="text-align: center">Добави рецепта</h2>

<div class="col-md-8 col-md-offset-2">
    @using (Html.BeginForm("Create", "Recipes", FormMethod.Post, new
    {
        id = "create-recipe-form"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="text" id="title" class="form-control" placeholder="Как ще се казва рецептата?" />
        </div>
        <hr>
        <div class="form-group">
            <label>Снимки</label>
            <div id="add-photos">
                Добави снимки
                <input type="file" class="btn" value="Добави снимки" multiple="multiple" />
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label>Съставки</label>
            <ol id="ingredients-container" class="ordered-list-container"></ol>
            <input type="button" id="add-ingredients" class="btn btn-link" value="Добави съставка" />
        </div>
        <hr>
        <div class="form-group">
            <label>Стъпки</label>
            <ol id="steps-container" class="ordered-list-container"></ol>
            <input type="button" id="add-step" class="btn btn-link" value="Добави стъпка" />
        </div>
        <hr>
        <div class="form-group">
            <label>Минути необходими за да се сготви</label>
            <input type="text" id="minutesRequiredToCook" class="form-control" name="minutesRequiredToCook" oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="20 мин" />
        </div>
        <a id="submit-button" href="#" class="btn btn-lg btn-success">Създай</a>
    }
</div>
<script type="text/javascript" src="/Scripts/recipes/createRecipe.js"></script>